//- ** This is a sample of a pug template and how it uses the data passed to it from index.js.
//** This is a pug template to homepage custom object form.

doctype html
html 
    head 
        title= 'Custom Object Table | Integrating With HubSpot I Practicum'
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body
     .title2
       h2 Custom Object Table
     div#alink
      a(href=baseURI) Add/Update the Bike
     div#table-center
      table
        tr 
          th Name
          th Brand
          th Bike Type
        tr
         each bike in data
          tr
            td #{bike.properties.bike_name}
            td #{bike.properties.brand}
            td #{bike.properties.bike_type}
          tr